<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script>
			const CONFERENCE_ID = '<%= conferenceId %>';
		</script>
		<script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="../script.js" defer></script>

		<title>Misraj Zoom Clone</title>
		<style>
			#video-grid {
				margin: 5px;
				display: grid;
				grid-template-columns: repeat(auto-fill, 300px);
				grid-auto-rows: 300px;
			}

			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		</style>
	</head>
	<body>
		<div id="video-grid"></div>
	</body>
</html>
